---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
---

<MainLayout title="Forside">
  <!-------------------- Hero -------------------->
  <div class="pt-24 pb-5" id="logo">
    <div class="grid gap-10 md:grid-cols-5 max-w-5xl mx-auto p-6">
      <!--Venstre Col-->
      <div class="md:col-span-2">
        <div class="md:flex flex-col items-center justify-center h-full">
          <h1 class="text-white pb-5">Helena Louise Pfeffer</h1>
          <h2 class="text-white pb-5">Kreativ UI/UX Designer og Webudvikler</h2>
          <p class="text-white pb-5 font-semibold">Jeg har udviklet og designet over 10 hjemmesider ved hjælp af Figma, HTML, CSS, JavaScript, Astro og Tailwind.</p>
          <div class="pb-5 flex justify-center gap-2">
            <a href="#kontakt"><Button variant="primary" size="small">Kontakt</Button></a>
            <a href="#projekter"><Button variant="primary" size="small">Projekter</Button></a>
          </div>
        </div>
      </div>
      <!--Hjøre Col-->
      <div class="w-full md:col-span-3 md:col-start-3 flex items-center justify-center">
        <img class="w-full md:w-4/5 hover:scale-105 duration-700" src="/workspace.svg" alt="Illustration af Helenas arbejdsplads" />
      </div>
    </div>
  </div>

  <!--Bølge svg-->
  <div class="relative -mt-12 lg:-mt-24">
    <svg viewBox="0 0 1428 174" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-2.000000, 44.000000)" fill="#FFFFFF" fill-rule="nonzero">
          <path d="M0,0 C90.7283404,0.927527913 147.912752,27.187927 291.910178,59.9119003 C387.908462,81.7278826 543.605069,89.334785 759,82.7326078 C469.336065,156.254352 216.336065,153.6679 0,74.9732496" opacity="0.100000001"></path>
          <path d="M100,104.708498 C277.413333,72.2345949 426.147877,52.5246657 546.203633,45.5787101 C666.259389,38.6327546 810.524845,41.7979068 979,55.0741668 C931.069965,56.122511 810.303266,74.8455141 616.699903,111.243176 C423.096539,147.640838 250.863238,145.462612 100,104.708498 Z" opacity="0.100000001"></path>
          <path d="M1046,51.6521276 C1130.83045,29.328812 1279.08318,17.607883 1439,40.1656806 L1439,120 C1271.17211,77.9435312 1140.17211,55.1609071 1046,51.6521276 Z" id="Path-4" opacity="0.200000003"></path>
        </g>
        <g transform="translate(-4.000000, 76.000000)" fill="#FFFFFF" fill-rule="nonzero">
          <path
            d="M0.457,34.035 C57.086,53.198 98.208,65.809 123.822,71.865 C181.454,85.495 234.295,90.29 272.033,93.459 C311.355,96.759 396.635,95.801 461.025,91.663 C486.76,90.01 518.727,86.372 556.926,80.752 C595.747,74.596 622.372,70.008 636.799,66.991 C663.913,61.324 712.501,49.503 727.605,46.128 C780.47,34.317 818.839,22.532 856.324,15.904 C922.689,4.169 955.676,2.522 1011.185,0.432 C1060.705,1.477 1097.39,3.129 1121.236,5.387 C1161.703,9.219 1208.621,17.821 1235.4,22.304 C1285.855,30.748 1354.351,47.432 1440.886,72.354 L1441.191,104.352 L1.121,104.031 L0.457,34.035 Z"
          ></path>
        </g>
      </g>
    </svg>
  </div>

  <div class="bg-white">
    <div class="max-w-5xl mx-auto p-6">
      <!-------------------- Om mig -------------------->
      <section class="md:grid gap-10 grid-cols-2 md:pb-20 md:pt-20 pt-20 pb-0" id="om_helena">
        <div class="flex flex-col items-center justify-center elementmedanimation1">
          <h1 class="pb-5">Jeg hedder Helena og er passioneret omkring UI/UX design.</h1>
          <p class="pb-5">Jeg studerer til multimediedesigner på KEA og er særligt interesseret i UI/UX design.</p>
          <p class="pb-5">I min arbejdsprocess er jeg struktureret og detaljeorienteret. Jeg er passioneret om at skabe brugeroplevelser, der er både intuitive og æstetisk tiltalende.</p>
          <p class="pb-10">Jeg er ivrig efter at udvikle mine færdigheder og tager gerne nye udfordringer op.</p>
        </div>
        <div class="col-span-2 col-start-2 flex items-center justify-center">
          <img class="rounded-full hover:scale-105 duration-700" src="/profil.webp" alt="Profilbillede af Helena Louise Pfeffer" />
        </div>
      </section>

      <!-------------------- Skills -------------------->
      <section class="md:pb-20 md:pt-20 pt-20 pb-0" id="kompetencer">
        <div class="pb-5 md:grid gap-10 grid-cols-2">
          <div class="elementmedanimation2">
            <h1 class="pb-4">Værktøjer og Kompetencer</h1>
            <p class="pb-10">Jeg bruger Figma til at opsætte designsystemer, skabe komponenter, lave wireframes og udvikle prototyper. Jeg følger "mobile first"-tankegangen.</p>
          </div>
        </div>
        <div class="grid gap-10 grid-cols-2 md:grid-cols-6">
          <div>
            <img class="pb-3 hover:scale-110 duration-700" src="/figma.webp" alt="Figma logo" />
            <p class="text-center">Figma</p>
          </div>
          <div>
            <img class="pb-3 hover:scale-110 duration-700" src="/git.webp" alt="Github logo" />
            <p class="text-center">Git og GitHub</p>
          </div>
          <div>
            <img class="pb-3 hover:scale-110 duration-700" src="/vs_code.webp" alt="visual studio code logo" />
            <p class="text-center">HTML, CSS, JS, Astro og Tailwind</p>
          </div>
          <div>
            <img class="pb-3 hover:scale-110 duration-700" src="/ps.webp" alt="Photoshop logo" />
            <p class="text-center">photoshop</p>
          </div>
          <div>
            <img class="pb-3 hover:scale-110 duration-700" src="/pr.webp" alt="Premiere pro logo" />
            <p class="text-center">Premiere pro</p>
          </div>
          <div>
            <img class="pb-5 hover:scale-110 duration-700" src="/ai.webp" alt="Illustrator logo" />
            <p class="text-center">Illustrator</p>
          </div>
        </div>
      </section>

      <!-------------------- Projekter -------------------->
      <section class="md:pb-20 md:pt-20 pt-20 pb-0" id="projekter">
        <div class="pb-5 md:grid gap-10 grid-cols-2 elementmedanimation3">
          <h1 class="pb-4">Projekter</h1>
        </div>
        <div class="grid gap-10 md:grid-cols-2">
          <div class="bg-white border border-gray-200 rounded-xl shadow-md dark:bg-gray-800 dark:border-gray-700 hover:scale-105 duration-700">
            <a href="https://julespil.netlify.app/" target="_blank">
              <img class="rounded-xl w-full h-64 object-cover" src="/jul.svg" alt="billede fra juletræet spil" />
              <div class="p-6">
                <h2 class="pb-4">Juletræet</h2>
                <p class="">Juletræet var et af mine første projekter, hvor jeg udviklede et spil. Jeg opfandt konceptet og tegnede alle illustrationerne.</p>
                <div class="flex flex-row flex-wrap">
                  <div class="pt-5 pl-2 pr-2"><p class="rounded-full px-4 p-3 font-semibold shadow-md uppercase bg-sky-500/40 text-gray-800 text-sm">Animation</p></div>
                  <div class="pt-5 pl-2 pr-2"><p class="rounded-full px-4 p-3 font-semibold shadow-md uppercase bg-sky-500/40 text-gray-800 text-sm">Illustration</p></div>
                  <div class="pt-5 pl-2 pr-2"><p class="rounded-full px-4 p-3 font-semibold shadow-md uppercase bg-sky-500/40 text-gray-800 text-sm">JS</p></div>
                </div>
              </div>
            </a>
          </div>
          <div class="bg-white border border-gray-200 rounded-xl shadow-md dark:bg-gray-800 dark:border-gray-700 hover:scale-105 duration-700">
            <a href="https://itmv007.netlify.app/" target="_blank">
              <img class="rounded-xl w-full h-64 object-cover" src="/verden.webp" alt="billede fra i tråd med verden webfeature" />
              <div class="p-6">
                <h2 class="pb-4">I tråd med verden</h2>
                <p class="">Jeg har udviklet en webfeature for I Tråd Med Verden, en socialøkonomisk virksomhed. Jeg tegnede illustrationer for at understøtte budskabet og fortælle en historie.</p>
                <div class="flex flex-row flex-wrap">
                  <div class="pt-5 pl-2 pr-2"><p class="rounded-full px-4 p-3 font-semibold shadow-md uppercase bg-sky-500/40 text-gray-800 text-sm">Astro</p></div>
                  <div class="pt-5 pl-2 pr-2"><p class="rounded-full px-4 p-3 font-semibold shadow-md uppercase bg-sky-500/40 text-gray-800 text-sm">Billeder/video</p></div>
                  <div class="pt-5 pl-2 pr-2"><p class="rounded-full px-4 p-3 font-semibold shadow-md uppercase bg-sky-500/40 text-gray-800 text-sm">Illustration</p></div>
                </div>
              </div>
            </a>
          </div>
          <div class="bg-white border border-gray-200 rounded-xl shadow-md dark:bg-gray-800 dark:border-gray-700 hover:scale-105 duration-700">
            <a href="https://k2gruppe12.netlify.app/" target="_blank">
              <img class="rounded-xl w-full h-64 object-cover" src="/k2.webp" alt="billede fra forsiden for k2's redesignet hjemmeside" />
              <div class="p-6">
                <h2 class="pb-4">K2</h2>
                <p class="">Et samarbejde med en sko- og tøjbutik, hvor vi redesignede deres hjemmeside. Vi tog nye billeder og satte dem op med en database, som vi brugte til listeview og singleview.</p>
                <div class="flex flex-row flex-wrap">
                  <div class="pt-5 pl-2 pr-2"><p class="rounded-full px-4 p-3 font-semibold shadow-md uppercase bg-sky-500/40 text-gray-800 text-sm">Astro</p></div>
                  <div class="pt-5 pl-2 pr-2"><p class="rounded-full px-4 p-3 font-semibold shadow-md uppercase bg-sky-500/40 text-gray-800 text-sm">Billeder/video</p></div>
                  <div class="pt-5 pl-2 pr-2"><p class="rounded-full px-4 p-3 font-semibold shadow-md uppercase bg-sky-500/40 text-gray-800 text-sm">Json</p></div>
                </div>
              </div>
            </a>
          </div>
          <div class="bg-white border border-gray-200 rounded-xl shadow-md dark:bg-gray-800 dark:border-gray-700 hover:scale-105 duration-700">
            <a href="https://cph-billeder.netlify.app/" target="_blank">
              <img class="rounded-xl w-full h-64 object-cover" src="/kbh.webp" alt="billede af københavnerbilleder hjemmeside" />
              <div class="p-6">
                <h2 class="pb-4">Københavnerbilleder</h2>
                <p class="">Københavnerbilleder var et simpelt design med masser af små animationer, der gav spil mens man scrolled ned på siden.</p>
                <div class="flex flex-row flex-wrap">
                  <div class="pt-5 pl-2 pr-2"><p class="rounded-full px-4 p-3 font-semibold shadow-md uppercase bg-sky-400/40 text-gray-800 text-sm">Animation</p></div>
                  <div class="pt-5 pl-2 pr-2"><p class="rounded-full px-4 p-3 font-semibold shadow-md uppercase bg-sky-400/40 text-gray-800 text-sm">Astro</p></div>
                  <div class="pt-5 pl-2 pr-2"><p class="rounded-full px-4 p-3 font-semibold shadow-md uppercase bg-sky-400/40 text-gray-800 text-sm">Tailwind</p></div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </section>

      <!-------------------- Baggrund -------------------->
      <section class="md:pb-20 md:pt-20 pt-20 pb-10" id="baggrund">
        <div class="elementmedanimation4">
          <h1 class="pb-5">Baggrund</h1>
          <ol class="relative border-s border-gray-300 dark:border-gray-800">
            <li class="mb-10 ms-4">
              <div class="absolute w-3 h-3 bg-gray-300 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
              <time class="mb-1 text-sm font-normal leading-none text-gray-500 dark:text-gray-600">2018</time>
              <h3 class="text-lg font-semibold text-gray-800 dark:text-white hover:scale-105 duration-700">People's (tiligere: People's Press) - Grafisk designer praktik</h3>
              <p class="mb-4 text-base font-normal text-gray-600 dark:text-gray-400 max-w-lg">Jeg har haft en uges praktik som grafisk designer hos People’s Press, hvor jeg fik kendskab til flere Adobe-programmer.</p>
            </li>
            <li class="mb-10 ms-4">
              <div class="absolute w-3 h-3 bg-gray-300 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
              <time class="mb-1 text-sm font-normal leading-none text-gray-500 dark:text-gray-600">2018-2019</time>
              <h3 class="text-lg font-semibold text-gray-800 dark:text-white hover:scale-105 duration-700">Kvik - Køkkenkonsulent</h3>
              <p class="mb-4 text-base font-normal text-gray-600 dark:text-gray-400 max-w-lg">Som deltids køkkenkonsulent vejledte jeg kunder i købsbeslutninger og fik erfaring med at tegne køkkener.</p>
            </li>
            <li class="mb-10 ms-4">
              <div class="absolute w-3 h-3 bg-gray-300 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
              <time class="mb-1 text-sm font-normal leading-none text-gray-500 dark:text-gray-600">2018-2021</time>
              <h3 class="text-lg font-semibold text-gray-800 dark:text-white hover:scale-105 duration-700">HHX - Køge Handelskole</h3>
              <p class="mb-4 text-base font-normal text-gray-600 dark:text-gray-400 max-w-lg">På handelskolen gik jeg på studieretningen Business Economics og deltog i frivilligt arbejde, bl.a. med skolebladet, hvor jeg stod for layout og design.</p>
            </li>
            <li class="mb-10 ms-4">
              <div class="absolute w-3 h-3 bg-gray-300 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
              <time class="mb-1 text-sm font-normal leading-none text-gray-500 dark:text-gray-600">2021- og fortsat</time>
              <h3 class="text-lg font-semibold text-gray-800 dark:text-white hover:scale-105 duration-700">IKEA - ansat i returafdeling som dagligansvarlig</h3>
              <p class="mb-4 text-base font-normal text-gray-600 dark:text-gray-400 max-w-lg">Jeg arbejder i IKEA’s returafdeling, hvor jeg efter et år blev oplært til Backliner. Som Backliner støtter jeg kollegaer med faglige spørgsmål, udfører kontorarbejde og holder overblik over afdelingen.</p>
            </li>
            <li class="ms-4">
              <div class="absolute w-3 h-3 bg-gray-300 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
              <time class="mb-1 text-sm font-normal leading-none text-gray-500 dark:text-gray-600">2023- og fortsat</time>
              <h3 class="text-lg font-semibold text-gray-800 dark:text-white hover:scale-105 duration-700">KEA - Multimediedesign</h3>
              <p class="mb-4 text-base font-normal text-gray-600 dark:text-gray-400 max-w-lg">Jeg studerer til multimediedesigner på Københavns Erhvervsakademi, hvor jeg er på 3. semester med valgfaget Digital Design.</p>
            </li>
          </ol>
        </div>
      </section>
    </div>
  </div>
</MainLayout>

<script>
  import { inView } from "motion";

  const elementmedanimation1 = document.querySelector(".elementmedanimation1");

  inView(elementmedanimation1, () => {
    elementmedanimation1.classList.add("animate__animated", "animate__bounceIn");
  });

  const elementmedanimation2 = document.querySelector(".elementmedanimation2");

  inView(elementmedanimation2, () => {
    elementmedanimation2.classList.add("animate__animated", "animate__bounceIn");
  });

  const elementmedanimation3 = document.querySelector(".elementmedanimation3");

  inView(elementmedanimation3, () => {
    elementmedanimation3.classList.add("animate__animated", "animate__bounceIn");
  });

  const elementmedanimation4 = document.querySelector(".elementmedanimation4");

  inView(elementmedanimation4, () => {
    elementmedanimation4.classList.add("animate__animated", "animate__bounceIn");
  });
</script>
