---

---

<!-------------------- Kontakt -------------------->
<section class="md:pt-10 md:pb-10 pt-5 pb-5 max-w-5xl mx-auto p-6" id="kontakt">
  <div class="flex flex-row items-center flex-wrap">
    <img class="rounded-full w-20 h-20 md:w-32 md:h-32 pr-2 pl-2" src="/profil.webp" alt="Profilbillede af Helena Louise Pfeffer" />
    <div class="flex flex-row">
      <div class="pr-2 pl-2">
        <h1 class="">Kontakt</h1>
        <p>Mail: helenapfeffer02@gmail.com</p>
        <p>tlf. nr.: 53625392</p>
      </div>
      <div class="self-end pr-2 pl-2">
        <a href="https://www.linkedin.com/in/helena-pfeffer-99637732b/"><img class="w-10 h-10" src="/in.webp" alt="Linkedin logo og link til helenas linkedin profil" /></a>
      </div>
    </div>
  </div>
</section>
