---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/tailwind.css";
import "animate.css";
const { title } = Astro.props;
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title}</title>
    <style>
      .gradient {
        background: linear-gradient(90deg, #c973ff 0%, #a1b0fa 40%, #0a96d7 85%, #0076ac 100%);
      }
    </style>
  </head>
  <body style="font-family: 'Source Sans Pro', sans-serif">
    <header>
      <Header />
    </header>

    <main class="leading-normal tracking-normal gradient">
      <slot />
    </main>

    <footer class="">
      <Footer />
    </footer>
  </body>
</html>
